<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper App</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <form method="post">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required>
        <select id="content_type" name="content_type">
            <option value="main">Text</option>
            <option value="p">p</option>
            <option value="h1">H1</option>
            <option value="h2">H2</option>
            <option value="h3">H3</option>
            <option value="b">Bold</option> 
            <option value="i">Italics</option>
            <option value="a">Links</option>
        </select>
        <label for="get_links" id="get_links_label" class="hidden">Get links instead of text</label>
        <input type="checkbox" id="get_links" name="get_links" class="hidden">

        <label for="get_full_links" id="get_full_links_label" class="hidden">Get only http/https links</label>
        <input type="checkbox" id="get_full_links" name="get_full_links" class="hidden">

        <label for="keyword_input" id="keyword_input_label">[Optional]Enter searched Keyword:</label>
        <input type="text" id="keyword_input" name="keyword_input" value="">

        <label for="get_dynamic_content" id="get_dynamic_content_label">Page is dynamic</label>
        <input type="checkbox" id="get_dynamic_content" name="get_dynamic_content">

        <!-- <label for="pagination_scrape" id="pagination_scrape_label">Scrape with pagination</label>
        <input type="checkbox" id="pagination_scrape" name="pagination_scrape">

        <label for="pagination_count">Enter number of pages to scrape</label>
        <input type="number" id="pagination_count" name="pagination_count" >   -->
        
        <button type="submit">Scrape</button>
    </form>

 {% if head %}
    <br>
    <form method="post" action="/save">
        File Name:  <input type="text" name="file_name" required><br>
        <input type="hidden" name="data" value="{{ head }}">
        <button type="submit">Save to location</button>
    </form>

    
    {{ head }}
    <!-- {% for element in head %}
        {% if element.name %}
            {{ element.get_text() | safe }}
        {% else %}
            {{ element | safe }}
        {% endif %}
    {% endfor %} -->
{% endif %}



    <script>
        document.getElementById('content_type').onchange = function() {
            checkVisibility();
        }

        document.getElementById('get_links').onchange = function() {
            checkVisibility();
        }
        function checkVisibility(){
            var selected_option = document.getElementById('content_type');
            var get_links = document.getElementById('get_links');
            var get_links_label = document.getElementById('get_links_label');
            var get_full_links =document.getElementById('get_full_links');
            var get_full_links_label =document.getElementById('get_full_links_label');
            var searched_keyword = document.getElementById('keyword_input');
            var searched_keyword_label = document.getElementById('keyword_input_label');

            if (selected_option.value == 'a'){
                get_links.classList.remove('hidden');
                get_links_label.classList.remove('hidden');
                if (get_links.checked) {
                    get_full_links.classList.remove('hidden');
                    get_full_links_label.classList.remove('hidden');
                } else {
                    get_full_links.classList.add('hidden');
                    get_full_links_label.classList.add('hidden');
                }

            }
            else{
                get_links.classList.add('hidden');
                get_links_label.classList.add('hidden');
                get_full_links.classList.add('hidden');
                get_full_links_label.classList.add('hidden');
            }
            if (selected_option.value != 'main'){
                searched_keyword.classList.add('hidden');
                searched_keyword_label.classList.add('hidden');
                searched_keyword.value="";
            } else {
                searched_keyword.classList.remove('hidden');
                searched_keyword_label.classList.remove('hidden');
            }
        }
    /*    document.addEventListener('DOMContentLoaded', function() {
        var paginationCheckbox = document.getElementById('pagination_scrape');
        var dynamicContent = document.getElementById('get_dynamic_content');
        var countInput = document.getElementById('pagination_count');

        paginationCheckbox.disabled = true;
        countInput.disabled = true;

        dynamicContent.addEventListener('change', function() {
            paginationCheckbox.disabled = !this.checked;
            countInput.disabled = !this.checked || !paginationCheckbox.checked;
        });

        paginationCheckbox.addEventListener('change', function() {
            countInput.disabled = !this.checked || !dynamicContent.checked;
        });
    });*/
    </script>
</body>
</html>


