<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">


</head>

<body>
    <div class="form-container">
        <form method="post">
            <div class="checkbox-label">
                <label for="language_picker" id="language_picker_label">Select the language of your page and app:</label>
                <select id="language_picker" name="language_picker" onchange="changeLanguage()">
                    {% if language == 'sk' %}
                        <option value="en">English</option>
                        <option value="sk" selected>Slovak</option>
                    {% else %}
                        <option value="en" selected>English</option>
                        <option value="sk">Slovak</option>
                    {% endif %}
                </select>
            </div>
            <label for="url" id="url_label">Enter URL:</label>
            <input type="text" id="url" name="url" required value="{{ request.form['url'] if request.method == 'POST' else '' }}">
            <select id="content_type" name="content_type">
                <option value="main">Full text</option>
                <option value="p">Text in p tags</option>
                <option value="div">Text in div tags</option>
                <option value="span">Text in span tags</option>
                <option value="ul">Text in ul tags</option>
                <option value="ol">Text in ol tags</option>
                <option value="li">Text in li tags</option>
                <option value="h1">H1</option>
                <option value="h2">H2</option>
                <option value="h3">H3</option>
                <option value="h4">H4</option>
                <option value="h5">H5</option>
                <option value="b">Bold</option>
                <option value="i">Italics</option>
                <option value="a">Links</option>
            </select>
            <br>
            <div class="checkbox-label">
                <label for="get_links" id="get_links_label" class="hidden">Get links instead of text</label>
                <input type="checkbox" id="get_links" name="get_links" class="hidden">
            </div>

            <div class="checkbox-label">
                <label for="get_full_links" id="get_full_links_label" class="hidden">Get only http/https links</label>
                <input type="checkbox" id="get_full_links" name="get_full_links" class="hidden">
            </div>

            <br>
            <label for="keyword_input" id="keyword_input_label">[Optional]Enter searched Keyword:</label>
            <input type="text" id="keyword_input" name="keyword_input" value="">
            <br>
            <div class="checkbox-label">
                <label for="get_dynamic_content" id="get_dynamic_content_label">Page is dynamic</label>
                <input type="checkbox" id="get_dynamic_content" name="get_dynamic_content">
            </div>
            <div class="checkbox-label">
                <label for="pagination_scrape" id="pagination_scrape_label">Scrape with pagination</label>
                <input type="checkbox" id="pagination_scrape" name="pagination_scrape">
            </div>
            <label for="pagination_count" id="pagination_count_label">Enter number of pages to scrape</label>
            <input type="number" id="pagination_count" name="pagination_count" value="1" min="1">
            <br>
            
            <div class="checkbox-label">
                <label for="clean_stopwords" id="clean_stopwords_label">Clean stopwords</label>
                <input type="checkbox" id="clean_stopwords" name="clean_stopwords">
            </div>
            <div class="checkbox-label">
                <label for="get_lemmas" id="get_lemmas_label">Get lemmas</label>
                <input type="checkbox" id="get_lemmas" name="get_lemmas">
            </div>
            <div class="checkbox-label">
                <label for="delete_numbers" id="delete_numbers_label">Delete numbers</label>
                <input type="checkbox" id="delete_numbers" name="delete_numbers">
            </div>
            <button type="submit">Scrape</button>
        </form>
    </div>
    <div class="output-container">
        {% if head %}
        <br>

        <div class="output-form-container">
            <h2 id="save_text">Save to file:</h2>
            <form method="post" action="/save">
                <label for="file_name" id="file_name_label">File name:</label>
                <input type="text" name="file_name" required>
                <input type="hidden" name="data" value="{{ head }}">
                <input type="hidden" name="language" value="{{ language }}">
                <button type="submit">Save to location</button>
            </form>
        </div>

        <h2>Output:</h2>
        <div class="output-text-container">
            {{ head }}
        </div>
        {% endif %}
    </div>
    <div class="loader_overlay" id="loader_overlay">
        <div class="loader" id="loader"></div>
    </div>



    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>